# Data TP

## Import librairies and databases

In [1]:
import pandas
import numpy

In [2]:
dataset = pandas.read_csv('.\\google\\data\\train.txt', delimiter=" ", names=["heads","tails","relation"])

In [3]:
dataset.describe()

       heads       tails       relation
count    573         573            573
unique   474         506             14
top     slow  california  capital-world
freq       5          12            116

In [4]:
dataset.shape

(573, 3)

In [5]:
dataset.head()

    heads        tails                  relation
0  madrid        spain  capital-common-countries
1  ottawa       canada  capital-common-countries
2   cairo        egypt  capital-common-countries
3   paris       france  capital-common-countries
4    bern  switzerland  capital-common-countries

## Load Vectors

In [18]:
def load_vectors(file_path):
    resultDict = dict()
    with open(file_path) as f:
        raw_text = f.read()
        for raw_line in raw_text.split("\n")[:-1]:
            ind = raw_line.index(" ")
            resultDict[raw_line[:ind]] = numpy.array(raw_line[ind+1:].split(" "))
        
    return resultDict

def formatPattern(algo, columns_value, file_name):
    return '.\\google\\{}\\subspaces\\{}\\{}.txt'.format(algo, columns_value, file_name)

In [19]:
vectors = {"heads": dict(), "tails": dict()}

for file_name in vectors.keys():
    for columns_value in set(dataset['relation'].values):
        file_dir = formatPattern('gloveCC', columns_value, file_name)
        vectors[file_name][columns_value] = load_vectors(file_dir)

## Replace values in dataframe

In [20]:
def replace_values(dataframe, vectorsDict):
    resultdf = dataframe.to_dict()
    for indice in range(len(resultdf['relation'])):
        head = resultdf['heads'][indice]
        tail = resultdf['tails'][indice]
        relation = resultdf['relation'][indice]
        
        try:
            resultdf['heads'][indice] = vectorsDict['heads'][relation][head]
        except:
            print("no vector for (relation:%s, head:%s) " % (relation, head))
        
        try:
            resultdf['tails'][indice] = vectorsDict['tails'][relation][tail]
        except:
            print("no vector for (relation:%s, tail:%s) " % (relation, tail))
        
    return resultdf

In [21]:
dataset2 = replace_values(dataset, vectors)

no vector for (relation:capital-world, head:funafuti)
no vector for (relation:capital-world, head:ashgabat)
no vector for (relation:capital-world, head:belmopan)
no vector for (relation:capital-world, head:thimphu)
no vector for (relation:capital-world, head:niamey)
no vector for (relation:capital-world, head:nouakchott)
no vector for (relation:capital-world, head:nuuk)
no vector for (relation:capital-world, head:podgorica)
no vector for (relation:capital-world, head:vaduz)

In [23]:
dataset2.keys()

['tails', 'heads', 'relation']

## Split Dataset into Xset and Yset

In [ ]:
dataset2pd = pandas.DataFrame({
    'tails': dataset2['tails'].values(),
    'heads': dataset2['heads'].values(),
    'relation': dataset2['relation'].values()
})

In [27]:
dataset2pd.shape

(573, 3)

In [25]:
dataset2pd.head()

,heads,relation,tails
0,"[0.26001, -0.53344, 0.22119, -0.16826, 0.58323...",capital-common-countries,"[-0.11981, 0.011386, 0.14965, -0.22285, 0.7112..."
1,"[0.14219, 0.01274, -0.5254, -0.60931, 1.263, 0...",capital-common-countries,"[-0.47825, 0.15908, -0.27509, -0.6478, 0.76022..."
2,"[0.56629, -0.20355, -0.093943, -0.45198, 0.301...",capital-common-countries,"[-0.051869, -0.26547, 0.034687, -0.45404, 0.26..."
3,"[0.35213, -0.074228, -0.23725, -0.32726, 0.539...",capital-common-countries,"[-0.16306, 0.45292, -0.14638, -0.64332, 0.7901..."
4,"[0.57031, 0.077812, 0.062999, -0.23876, 0.1227...",capital-common-countries,"[0.11316, 0.16675, -0.28034, -0.18965, 0.61872..."

In [54]:
xset = dataset2pd.iloc[:,[0,2]]
yset = dataset2pd.iloc[:,[1]]

In [55]:
xset.head()

,heads,tails
0,"[0.26001, -0.53344, 0.22119, -0.16826, 0.58323...","[-0.11981, 0.011386, 0.14965, -0.22285, 0.7112..."
1,"[0.14219, 0.01274, -0.5254, -0.60931, 1.263, 0...","[-0.47825, 0.15908, -0.27509, -0.6478, 0.76022..."
2,"[0.56629, -0.20355, -0.093943, -0.45198, 0.301...","[-0.051869, -0.26547, 0.034687, -0.45404, 0.26..."
3,"[0.35213, -0.074228, -0.23725, -0.32726, 0.539...","[-0.16306, 0.45292, -0.14638, -0.64332, 0.7901..."
4,"[0.57031, 0.077812, 0.062999, -0.23876, 0.1227...","[0.11316, 0.16675, -0.28034, -0.18965, 0.61872..."

In [56]:
yset.head()

                   relation
0  capital-common-countries
1  capital-common-countries
2  capital-common-countries
3  capital-common-countries
4  capital-common-countries

## Teen Fold Cross Validation, SVM & PRFS

In [57]:
from sklearn.metrics import precision_recall_fscore_support
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn import svm

def get_f1_from_svm(xtrain, ytrain, xtest, ytest, C):
    c = SVC(C=C).fit(xtrain,ytrain)
    return precision_recall_fscore_support(ytest, c.predict(xtest))[:,0]

def foreach_C(xtrain,ytrain,xtunning,ytunning,C=[0.1,1,10,100]):
    f1s = list()
    for c in C:
        f1s.append(get_f1_from_svm(xtrain,ytrain,xtunning,ytunning, c))
    return f1s

def foreachKfold(xset,yset,kfold=10):
    meanList = list()
    kf = KFold(n_splits=10, shuffle=False)
    for trainI, testI in kf.split(xset):
        xtrain = xset[trainI]
        ytrain = yset[trainI]
        xtest = xset[testI]
        ytest = yset[testI]
        meanList.append(foreach_C(xtrain,xtest,ytrain,ytest))
        
    return meanList

In [58]:
foreachKfold(xset,yset)

KeyError: '[ 58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75\n  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93\n  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111\n 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129\n 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147\n 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165\n 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183\n 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201\n 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219\n 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237\n 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255\n 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273\n 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291\n 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309\n 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327\n 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345\n 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363\n 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381\n 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399\n 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417\n 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435\n 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453\n 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471\n 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488 489\n 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504 505 506 507\n 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523 524 525\n 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542 543\n 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558 559 560 561\n 562 563 564 565 566 567 568 569 570 571 572] not in index'