# Data TP

## Import librairies and databases

In [1]:
import pandas
import numpy

In [18]:
dataset = pandas.read_csv('.\\google\\data\\train.txt', delimiter=" ", names=["heads","tails","relation"])

In [19]:
dataset.describe()

       heads       tails       relation
count    573         573            573
unique   474         506             14
top     slow  california  capital-world
freq       5          12            116

In [20]:
dataset.shape

(573, 3)

In [21]:
dataset.head()

    heads        tails                  relation
0  madrid        spain  capital-common-countries
1  ottawa       canada  capital-common-countries
2   cairo        egypt  capital-common-countries
3   paris       france  capital-common-countries
4    bern  switzerland  capital-common-countries

## Load Vectors

In [22]:
def load_vectors(file_path):
    resultDict = dict()
    with open(file_path) as f:
        raw_text = f.read()
        for raw_line in raw_text.split("\n")[:-1]:
            ind = raw_line.index(" ")
            resultDict[raw_line[:ind]] = raw_line[ind+1:]
        
    return resultDict

def formatPattern(algo, columns_value, file_name):
    return '.\\google\\{}\\subspaces\\{}\\{}.txt'.format(algo, columns_value, file_name)

In [23]:
vectors = {"heads": dict(), "tails": dict()}

for file_name in vectors.keys():
    for columns_value in set(dataset['relation'].values):
        file_dir = formatPattern('gloveCC', columns_value, file_name)
        vectors[file_name][columns_value] = load_vectors(file_dir)

## Replace values in dataframe

In [33]:
def replace_values(dataframe, vectorsDict):
    resultdf = dataframe.to_dict()
    for indice in range(len(resultdf['relation'])):
        head = resultdf['heads'][indice]
        tail = resultdf['tails'][indice]
        relation = resultdf['relation'][indice]
        
        try:
            resultdf['heads'][indice] = vectorsDict['heads'][relation][head]
        except:
            print("no vector for (relation:%s, head:%s) " % (relation, head))
        
        try:
            resultdf['tails'][indice] = vectorsDict['tails'][relation][tail]
        except:
            print("no vector for (relation:%s, tails:%s) " % (relation, tail))
        
    return resultdf

In [37]:
dataset2 = replace_values(dataset, vectors)

no vector for (relation:capital-world, head:funafuti)
no vector for (relation:capital-world, head:ashgabat)
no vector for (relation:capital-world, head:belmopan)
no vector for (relation:capital-world, head:thimphu)
no vector for (relation:capital-world, head:niamey)
no vector for (relation:capital-world, head:nouakchott)
no vector for (relation:capital-world, head:nuuk)
no vector for (relation:capital-world, head:podgorica)
no vector for (relation:capital-world, head:vaduz)