# Prepare Problem

In [1]:
import numpy
import pandas

from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

from sklearn.metrics import average_precision_score
from sklearn.metrics import precision_recall_curve

from sklearn import datasets
from sklearn import svm

In [2]:
INF_4 = 0
SUP_4 = 1

COURTE = 0
MOYENE = 1
LONGUE = 2

INF_150 = 0
SUP_150 = 1

OUI = 1
NON = 0

dataset = pandas.DataFrame({
    'Memory': [INF_4,SUP_4,SUP_4,INF_4,SUP_4,SUP_4,INF_4,INF_4,SUP_4,INF_4,INF_4,SUP_4,INF_4,SUP_4,SUP_4,INF_4],
    'Battery': [LONGUE,LONGUE,LONGUE,LONGUE,LONGUE,COURTE,COURTE,COURTE,COURTE,COURTE,MOYENE,MOYENE,MOYENE,MOYENE,MOYENE,MOYENE],
    'Price': [INF_150,SUP_150,INF_150,SUP_150,SUP_150,SUP_150,SUP_150,SUP_150,INF_150,INF_150,INF_150,INF_150,SUP_150,SUP_150,INF_150,SUP_150],
    'Happy': [OUI,OUI,OUI,OUI,OUI,OUI,NON,NON,OUI,NON,NON,NON,OUI,OUI,NON,OUI]
})

In [3]:
dataset.describe()

          Memory    Battery      Price   Happy
count  16.000000  16.000000  16.000000  16.000
mean    0.500000   1.000000   0.562500   0.625
std     0.516398   0.816497   0.512348   0.500
min     0.000000   0.000000   0.000000   0.000
25%     0.000000   0.000000   0.000000   0.000
50%     0.500000   1.000000   1.000000   1.000
75%     1.000000   2.000000   1.000000   1.000
max     1.000000   2.000000   1.000000   1.000

In [4]:
dataset.shape

(16, 4)

In [5]:
dataset.head()

   Memory  Battery  Price  Happy
0       0        2      0      1
1       1        2      1      1
2       1        2      0      1
3       0        2      1      1
4       1        2      1      1

# Evaluate algorithm

In [6]:
xset = dataset.iloc[:, :-1].values
yset = dataset.iloc[:,  -1].values

### split out validation dataset

In [7]:
xtrain,xtest,ytrain,ytest = train_test_split(xset,yset, test_size=0.5, random_state=0)

### test option and evaluation metrics

In [8]:
from sklearn.metrics import r2_score
r2_score(ytrain, ytest, multioutput='variance_weighted')

-0.06666666666666665

### spot check algorithm

In [ ]:
resultDict = dict()

- Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
c = LogisticRegression(random_state=0, solver='lbfgs', multi_class='multinomial').fit(X=xtrain,y=ytrain)
resultDict['LR'] = c.score(xtest, ytest)

- Linear discriminant Analisys

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as lda
c = lda().fit(xtrain, ytrain)
resultDict['LDA'] = c.score(xtest, ytest)

- K Nearest Neighbors

In [1]:
from sklearn.neighbors import NearestNeighbors as kn
c = kn(n_neighbors=2, algorithm='ball_tree').fit(xtrain)
print(c.kneighbors(xtest))

NameError: name 'xtrain' is not defined

- Classifiaction and regression trees

In [ ]:
c = DecisionTreeClassifier().fit(xtrain,ytrain)
resultDict['RT'] = c.score(xtest, ytest)

- Support vector Machines

In [ ]:
from sklearn.svm import SVC
c = SVC(kernel='rbf', random_state=0).fit(xtrain,ytrain)
resultDict['SVC'] = c.score(xtest, ytest)

### Compare algorithm